---
import { Image } from "astro:assets";
import bannerImage from "@/assets/banners/norminvest-banner.png";
---

<a
	href="https://at.norminvest.com/t/t?a=1873806298&as=2056026217&t=2&tk=1"
	target="_blank"
	rel="noopener sponsored"
	class="ad-banner not-prose my-8 block overflow-hidden rounded-xl"
>
	<Image
		src={bannerImage}
		alt="Norm Invest - Start din investering"
		width={930}
		height={600}
		class="w-full"
		loading="lazy"
	/>
</a>
